.footer {
    background-color: #3c3c3c;
    color: #c2c2c2;
    line-height: 22px;
    padding-bottom: 20px;
    font-size: 12px;
}
.footer a:hover{
    color:#fff;
}
.footer_contain{
    width: 1105px;
    margin:0 auto;
}
.footer_but{
    padding: 12px 0 12px 7px;
    margin-top: -1px;
    border-top: 1px solid #575a5b;
}
.footer_but>a{
    float: left;
    margin: 2px 20px 0 0;
    width: 136px;
    height: 39px;
    background: url(/img/index/mfw-footer-sprite7.png) no-repeat 0 -30px;
    overflow: hidden;
}























.footer_link{
    margin-top: -1px;
    border-top: 1px solid #575a5b;
    border-bottom: 1px solid #575a5b;
    padding: 17px 0 17px 8px;
}
.footer_link a{
    display: inline-block;
    margin-right: 12px;
    color:#c2c2c2;
}
.footer_icon{
    margin: 0 2px 4px 0;
    border: 0;
    vertical-align: middle;
    width:12px;
}
.footer_but a{
    color:#c2c2c2;
}
.footer_but span{
    margin-left: 4px;
}
.col{
    color:#ff9d00;
}
.f_but{
    margin:0 auto;
    text-align: center;
}
.f_but a{
    display: inline-block;
    margin-left: 10px;
    width: 90px;
    height: 30px;
    background: url(/img/index/mfw-footer-sprite7.png) no-repeat 0 -70px;
    overflow: hidden;
}
.f_but a:nth-child(2){
    background: url(/img/index/mfw-footer-sprite7.png) no-repeat 0 -110px;
}
.f_but a:nth-child(3){
    background: url(/img/index/wKgEaVzlS06AVwj0AAAa_HtuzSo207.png) no-repeat;
}
.f_but a:nth-child(4){
    background: url(/img/index/wKgEaVzlS8yAX2c6AAAblEJMLps615.png) no-repeat;
}



