.footer {
    background-color: #3c3c3c;
    color: #c2c2c2;
    line-height: 22px;
    padding-bottom: 20px;
    font-size: 12px;
}
.footer_contain{
    width: 1105px;
    margin:0 auto;
}
























.footer_link{
    margin-top: -1px;
    border-top: 1px solid #575a5b;
    border-bottom: 1px solid #575a5b;
    padding: 17px 0 17px 8px;
}









